<div fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="100">
    <mat-card>
      <mat-card-header fxLayout.lt-sm="column" fxLayoutAlign="space-between start">
        <mat-card-title>Offensive Game Stats</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="row" fxLayoutGap="4px">
        <mat-table [dataSource]="dataSourceOffensiveGameStats" matSort>

          <ng-container matColumnDef="player">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Player
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.player?.firstName}} {{stat.player?.lastName}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="passingAttempts">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              PassingAttempts
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.passingAttempts}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="passingCompletions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              PassingCompletions
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.passingCompletions}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="passingYards">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              PassingYards
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.passingYards}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="passingTouchdowns">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              PassingTouchdowns
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.passingTouchdowns}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="interceptions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Interceptions
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.interceptions}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="rushingAttempts">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              RushingAttempts
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.rushingAttempts}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="rushingYards">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              RushingYards
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.rushingYards}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="rushingTouchdowns">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              RushingTouchdowns
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.rushingTouchdowns}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fumbles">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Fumbles
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.fumbles}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="receptions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Receptions
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.receptions}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="receivingYards">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              ReceivingYards
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.receivingYards}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="receivingTouchdowns">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              ReceivingTouchdowns
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.receivingTouchdowns}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="targets">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Targets
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.targets}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="drops">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Drops
            </mat-header-cell>
            <mat-cell *matCellDef="let stat">
              {{stat.drops}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell fxFlex *matHeaderCellDef></mat-header-cell>
            <mat-cell fxLayoutAlign="end center" fxLayoutGap="4px" *matCellDef="let item">
              <button fxFlex="none" mat-icon-button color="accent" title="edit"
                (click)="addEditOffensiveGameStats(item)" matTooltip="edit offensive game stats">
                <mat-icon>edit</mat-icon>
              </button>
              <button fxFlex="none" mat-button color="primary" title="delete" (click)="openDeleteDialog(template, item)"
                matTooltip="delete offensive game stats">
                <mat-icon>delete_forever</mat-icon>
                <ng-template #template>
                  <h2 matDialogTitle>Delete Offensive Game Stats</h2>
                  <ng-container>
                    <h4> Game Id</h4>
                    <p> {{item.gameId}} </p>
                  </ng-container>
                  <ng-container>
                    <h4> Player Id </h4>
                    <p> {{item.playerId}} </p>
                  </ng-container>
                  <mat-dialog-actions align="end">
                    <button mat-button (click)="deleteOffensiveGameStats(item)" color="primary"> Delete </button>
                    <button mat-button mat-dialog-close color="warn"> Cancel </button>
                  </mat-dialog-actions>
                </ng-template>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row fxLayout="row" fxLayoutGap="30px" *matHeaderRowDef="displayedColumns">
          </mat-header-row>
          <mat-row fxLayout="row" fxLayoutGap="30px" *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
        <button fxFlex="none" mat-button color="primary" title="add" (click)="addEditOffensiveGameStats()"
          matTooltip="add offensive game stats">
          Add Offensive Game Stats
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<!-- <pre>{{this.offensiveGameStats | json}}</pre>  -->